/* s */
label { color: #B4886B; font-weight: bold; display: block; width: 150px; float: left; } label:after { content: ": " }


h1,h2,h3,h4,h5,h6 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.styled-select {
  /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; */
  height: 29px;
  overflow: hidden;
  width: 240px;
}
.myUl {
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
border: 1px solid #555;
}
.myuLink {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}


.c-validation{
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative; 
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
}
.c-validation:before{
  content: '';  
  width: 0;  
  height: 0;  
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c51244;
  position: absolute;  
  top: -10px; 
}
